@import "tailwindcss";

@theme inline {
    --color-background-light: #E1DAD4;
    --color-foreground-light: #241511;
    --color-main: #6D5145;
    --color-secondary: #AE9483;
    --color-secondary-light: #D2C4BB;
    --font-playfair: 'Playfair Display', serif;
    --font-crimson: 'Crimson Text', serif;
}

.bgimg {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.grecaptcha-badge {
    visibility: hidden !important;
  }